apiVersion: v1
kind: Service
metadata:
  name: myservice
  labels:
    name: value
    name2: value2
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  - port: 443
    protocol: TCP
    name: https
  selector:
    run: app
---
apiVersion: v1
kind: Service
metadata:
  name: myservice2
  labels:
    name: value
    name2: value2
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  - port: 443
    protocol: TCP
    name: https
  selector:
    run: app
